services:
  3xui:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: 3xui_app
    hostname: stageapi.heynp.com
    volumes:
      - $PWD/db/:/etc/x-ui/
      - $PWD/cert/:/root/cert/
    environment:
      XRAY_VMESS_AEAD_FORCED: "false"
      XUI_ENABLE_FAIL2BAN: "true"
      XUI_WEB_BASE_PATH: "/27362723fgfgq7tf9hqtwfoog92"
    ports:
      - 2053:2053
      - 55661:55661
      - 38645:38645
      - 28156:28156
      - 36977:36977
      - 21376:21376
      - 34100:34100
      - 19144:19144
      - 40719:40719
      - 32966:32966
      - 27923:27923
      - 25373:25373
      - 45212:45212
      - 46322:46322
      - 59635:59635
      - 22613:22613
      - 13915:13915
      - 46249:46249
      - 32067:32067
      - 28329:28329
      - 10294:10294
      - 53162:53162
      - 40176:40176
      - 26135:26135
      - 27912:27912
      - 35607:35607
      - 56283:56283
      - 49901:49901
      - 41463:41463
      - 26525:26525
      - 27027:27027
      - 26921:26921
      - 37044:37044
      - 31626:31626
      - 34008:34008
      - 56856:56856
      - 24139:24139
      - 29634:29634
      - 22375:22375
      - 40244:40244
      - 50944:50944
      - 48299:48299
      - 45277:45277
      - 42537:42537
      - 42640:42640
      - 23735:23735
      - 25946:25946
      - 57845:57845
      - 21694:21694
      - 24470:24470
      - 32106:32106
      - 21703:21703
      - 38484:38484
      - 55074:55074
      - 40590:40590
      - 47730:47730
      - 36251:36251
      - 23651:23651
      - 43494:43494
      - 45172:45172
      - 57626:57626
      - 34603:34603
      - 46163:46163
      - 34616:34616
      - 58538:58538
      - 32582:32582
      - 23014:23014
      - 39232:39232
      - 53866:53866
      - 30224:30224
      - 17567:17567
      - 51434:51434
      - 13389:13389
      - 29106:29106
      - 43571:43571
      - 53684:53684
      - 27717:27717
      - 48030:48030
      - 16317:16317
      - 11004:11004
      - 35074:35074
      - 55504:55504
      - 30709:30709
      - 38186:38186
      - 31155:31155
      - 40780:40780
      - 13271:13271
      - 38801:38801
      - 45824:45824
      - 22453:22453
      - 10443:10443
      - 56538:56538
      - 58820:58820
      - 38145:38145
      - 41820:41820
      - 21088:21088
      - 20817:20817
      - 47780:47780
      - 13038:13038
      - 34928:34928
      - 34860:34860
      - 47883:47883
      - 45955:45955
      - 44363:44363
      - 58843:58843
      - 26246:26246
      - 44548:44548
      - 39609:39609
      - 38449:38449
      - 18946:18946
    tty: true
    networks:
      - xui
    restart: unless-stopped

networks:
  xui:
    driver: bridge
